{{> header}}
	<form action="/hello" method="post" class="namecard-form">
		<label class="namecard-prompt">Please Enter Your Name:</label>
		<input name="studentName" type="text" class="namecard-name" />
		<button type="submit" class="namecard-submit">Login</button>
	</form>
</section>
{{> footer}}